<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Personal Advice</title>
    </head>
    <body>
        <div id="chat_history">
            <p class="assistant_chat">Hello! Hi, I am your personal assistant. I can recognize your speech input and guess what you want, then give you proper suggestions. Moreover, I can also analyze your emotion to give you proper suggestion. I am still under development.</p>
            <p class="start_promote">(Say something to start chat!)</p>
        </div>
        <p>
            <button id="start" disabled>Start</button>
            <button id="stop" disabled>Stop</button>
        </p>
        <p><audio id="audio" controls></audio></p>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        {% csrf_token %}
        <script src="{% static 'advice/index.js' %}"></script>
    </body>
</html>